{% extends 'base.html' %}
{% block body_block %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <h2>Comments</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.name }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.body }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Add New Comment</h2>
    {% if model_view and user.is_authenticated %}
        <form action='{% url 'post_comment' post.id %}' method='post'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Comment' />
        </form>
    {% else %}
        <p> You have to <a href="{% url 'auth_login' %}">login</a> for commenting. </p>
    {% endif %}
{% endblock %}